{
  "rules": [
    {
      "allowed": {
        "origins": ["https://generality.org"],
        "methods": ["GET", "PUT"],
        "headers": ["*"]
      },
      "exposeHeaders": ["ETag"],
      "maxAgeSeconds": 3600
    }
  ]
}
