name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    uses: {{ github_owner }}/python-project-template/.github/workflows/python-ci.yml@v1
    with:
      python-version: "{{ python_version }}"
